NodeRed/flow-clima-mysql.json
[
    {
        "id": "1132d62245e3e156",
        "type": "tab",
        "label": "Clima por API con Bases de datos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7a2530312145684",
        "type": "mqtt in",
        "z": "1132d62245e3e156",
        "name": "",
        "topic": "codigoIoT/MQTT/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bbe02c95bbb6c675",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "05c51dc3f6b417ed"
            ]
        ]
    },
    {
        "id": "05c51dc3f6b417ed",
        "type": "json",
        "z": "1132d62245e3e156",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "88fa03adfc49ed05",
                "0edc83b2ff910ff1"
            ]
        ]
    },
    {
        "id": "88fa03adfc49ed05",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "dbe18f0b24af7ac8",
                "09fa1f836c57fe0c"
            ]
        ]
    },
    {
        "id": "0edc83b2ff910ff1",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b42097c5d58a03fc",
                "09fa1f836c57fe0c"
            ]
        ]
    },
    {
        "id": "dbe18f0b24af7ac8",
        "type": "ui_gauge",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "098628cc5697ee58",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "째C",
        "format": "{{value}}",
        "min": "3",
        "max": 10,
        "colors": [
            "#729fcf",
            "#8ae234",
            "#cc0000"
        ],
        "seg1": "17",
        "seg2": "23",
        "className": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "b42097c5d58a03fc",
        "type": "ui_gauge",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "098628cc5697ee58",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "09fa1f836c57fe0c",
        "type": "ui_chart",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "098628cc5697ee58",
        "order": 3,
        "width": "6",
        "height": 7,
        "label": "Historico local",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bf4c6b2855f3519e",
        "type": "http request",
        "z": "1132d62245e3e156",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.054942713618825&lon=-98.76989961392918&appid=f1623d2f393d0b08dda7b45abd01fa5e&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "09613697e044a672"
            ]
        ]
    },
    {
        "id": "ff09f8554ac097a0",
        "type": "inject",
        "z": "1132d62245e3e156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "bf4c6b2855f3519e"
            ]
        ]
    },
    {
        "id": "09613697e044a672",
        "type": "json",
        "z": "1132d62245e3e156",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "08be2412f5d71974",
                "b5d2821590e305f4"
            ]
        ]
    },
    {
        "id": "b5d2821590e305f4",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Humedad por API",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humAPI\", msg.payload);\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "d094ba075ae5c4c9",
                "1af7630f5a08919d"
            ]
        ]
    },
    {
        "id": "08be2412f5d71974",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Temperatura API",
        "func": "global.set (\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "ab9f9a120491b758",
                "d094ba075ae5c4c9"
            ]
        ]
    },
    {
        "id": "ab9f9a120491b758",
        "type": "ui_gauge",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "aa73318b5b3bf54b",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#729fcf",
            "#8ae234",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "d094ba075ae5c4c9",
        "type": "ui_chart",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "aa73318b5b3bf54b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b86adbf8cbb292b4",
        "type": "comment",
        "z": "1132d62245e3e156",
        "name": "MQTT",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "42a4ec571e32f887",
        "type": "comment",
        "z": "1132d62245e3e156",
        "name": "API",
        "info": "",
        "x": 70,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e52b023cb5679c5",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "JSON Publico",
        "func": "msg.payload = '{\"id\":\"David Sanchez. Av.Universidad, Cuernavaca\",\"temp\":'+ global.get (\"tempAPI\")+',\"hum\":'+global.get (\"humAPI\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "5d52f3c65ee585b1"
            ]
        ]
    },
    {
        "id": "610e91f20474527c",
        "type": "inject",
        "z": "1132d62245e3e156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "9e52b023cb5679c5"
            ]
        ]
    },
    {
        "id": "ff303a538718fb5f",
        "type": "comment",
        "z": "1132d62245e3e156",
        "name": "Enviador",
        "info": "",
        "x": 80,
        "y": 500,
        "wires": []
    },
    {
        "id": "5d52f3c65ee585b1",
        "type": "mqtt out",
        "z": "1132d62245e3e156",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a7d05e662a77080",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "50194e6814dbb403",
        "type": "json",
        "z": "1132d62245e3e156",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "172062fa2ea8e150",
                "aad9a12568d364ca"
            ]
        ]
    },
    {
        "id": "172062fa2ea8e150",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Temperatura publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 720,
        "wires": [
            [
                "3a20af4447a4991d"
            ]
        ]
    },
    {
        "id": "aad9a12568d364ca",
        "type": "function",
        "z": "1132d62245e3e156",
        "name": "Humedad publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 780,
        "wires": [
            [
                "54737df1fbf6ccca"
            ]
        ]
    },
    {
        "id": "3a20af4447a4991d",
        "type": "ui_chart",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "ca942d25e41c502c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "54737df1fbf6ccca",
        "type": "ui_chart",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "ca942d25e41c502c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "405de49ad2f4653a",
        "type": "comment",
        "z": "1132d62245e3e156",
        "name": "Escuchador",
        "info": "",
        "x": 90,
        "y": 660,
        "wires": []
    },
    {
        "id": "84fb07ae8f32c9f6",
        "type": "mqtt in",
        "z": "1132d62245e3e156",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "utf8",
        "broker": "1a7d05e662a77080",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "50194e6814dbb403"
            ]
        ]
    },
    {
        "id": "1af7630f5a08919d",
        "type": "ui_gauge",
        "z": "1132d62245e3e156",
        "name": "",
        "group": "aa73318b5b3bf54b",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "bbe02c95bbb6c675",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "098628cc5697ee58",
        "type": "ui_group",
        "name": "Informaci처n por MQTT",
        "tab": "d81d547537acccc7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa73318b5b3bf54b",
        "type": "ui_group",
        "name": "Informaci처n por API",
        "tab": "d81d547537acccc7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a7d05e662a77080",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ca942d25e41c502c",
        "type": "ui_group",
        "name": "Historico Publico",
        "tab": "d81d547537acccc7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d81d547537acccc7",
        "type": "ui_tab",
        "name": "Clima por API - Bases de datos",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]